{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic numquam perspiciatis dolor dolorem quasi neque eveniet ad amet veniam fuga, eum nostrum enim. Voluptas tenetur doloremque animi non nam!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/london-bus-700x352.jpg"  class="img-thumbnail">     
    </div>

</div>
 

{{> footer }}